/*
this styling isn't working so did it directly in the element on App.jsx camelidArray item
*/
.img {
    width: 100px;
    height: 100px;
    max-width: 20%;
}

.card {
    border: 1px solid gray;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #f1f1f1;
}