html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;

    text-align: center;
    background: rgb(10, 20, 30);
}