.masthead {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    background: #ffd400;
    display: flex;
    justify-content: space-evenly;
}

.masthead img {
    max-width: 160px;
    width: 100%;
}