#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  padding-bottom: 2rem;
}

.card {
  padding: 2em;
  background-color: #e1e1e1;
  border-radius: 15px;
}

.emphatic {
  font-style: italic;
}

.footnote {
  padding-top: 3rem;
  font-size: x-small;
}