/*
black #141414
blue #1579c4
white
dark grey #0009
brand bright yellow #ffd400
*/


:root {
  font-family: Cera Pro, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.body {
  margin: auto;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}
