.page {
  margin: 0 auto;
  padding-bottom: 4rem;
  position: relative;
}

.collection {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  border-color: #1579c4;
  background-color: #1579c4;
  margin-top: 3rem;
}