#root {
    font-family: "Cera Pro", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    padding: 2rem 4rem;
}

nav {
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding-right: 2rem;
}