#root {
    font-family: "Cera Pro", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 1060px;
    margin: 0 auto;
    padding: 2rem;
}

nav {
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    padding-right: 2rem;
}

a:hover {
    color: forestgreen;
}

a:active {
    font-weight: 800;
    text-decoration: none;
}

img {
    float: left;
    margin-right: 1rem;
}