#root {
    margin: 0 auto; 
}

html {
    box-sizing: border-box;
    
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #00102b;
    color: white;
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif; 
    text-align: center;
}

p:first-of-type {
    padding-top: 2rem;
}

p:last-of-type {
    padding-bottom: 3rem;
}