#root {
    margin: 0 auto; 
}

html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding-top: 1rem;
    font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif; 
    text-align: center;
}