#root {
    margin: 0 auto; 
}

html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif; 
    text-align: center;

}

ul {
    padding-bottom: 1rem;
    max-width: 60%;
}

p {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-style: italic;
}