.footer {
    background: #04224d;
    margin-top: 4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.footer p {
    color: #fff;
    font-family: inherit;
    font-size: small;
}